.main{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
.main h1{
    font-size: 42px;
    margin-bottom: 20px;
}
.main>div{
    display: block;
    line-height: 155%;
    font-weight: 500;
}
.main>div>p{
    white-space: pre-wrap;
    padding-top: 12px;
    display: grid;
    place-items: center;
}
.mContainer{
    width: 100%;
    border-radius: 30px;
    color: #fff;
    border: solid hsl(120, 48%, 35%) 5px;
    background: rgb(44, 124, 44);
}

.about{
    font-size: clamp(1.75vh, 2.25vh, 2.75vh); 
    width: 95%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
