.main{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
.main h1{
    font-size: 42px;
    margin-bottom: 20px;
}
.main>div{
    display: block;
    line-height: 155%;
    font-weight: 500;
}
.main>div>p{
    white-space: pre-wrap;
    padding-top: 12px;
    display: grid;
    place-items: center;
}
.about-info{
    width: 100%;
    border-radius: 30px;
    color: #fff;
    background: rgba(39, 109, 43, 0.5);
}

.about{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.about-drop-less{
    height: 250px;
    overflow: hidden;
}
.dropdown-about{
    color: #fff;
    background: rgba(39, 109, 43, 0.5);
    border: 0;
    border-radius: 30px;
    font-size: x-large;
    margin-top: 5px;
    font-weight: bold ;
    padding: 15px;
    z-index: 400;
    width: fit-content;
}

.contain {
    display: none;
}

.contain.show {
    display: block;
}