.main{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
.main h1{
    font-size: 42px;
    margin-bottom: 20px;
}
.main>div{
    display: block;
    line-height: 155%;
    font-weight: 500;
}
.main>div>p{
    white-space: pre-wrap;
    padding-top: 12px;
    display: grid;
    place-items: center;
}
.about-info{
    width: 100%;
    border-radius: 30px;
    color: #fff;
    background: rgba(39, 109, 43, 0.5);
}

.about{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
