@import "../constants/breakpoints";

$grey-color: #6d6d6d;

.container {
  color: $grey-color;
  background: rgba(39, 109, 43, 0.5);
  padding: 40px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1.6fr 4.4fr;
  width: 100%;
  gap: 3vh;

  @include md {
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .asside {
    padding: 28px 15px;
    text-align: center;
    background: #e7e9ee;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 2vw;

    @include xxs {
      width: 87vw;
    }

    .logosContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 auto;
      @include md {
        width: 50%;
      }
      @include xs {
        width: 70%;
      }
      @include xxs {
        width: 100%;
      }

      a {
        text-decoration: none;

        div {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          transition: 0.3s;
          gap: 5px;
          color: $grey-color;

          svg {
            width: 40px;
            height: 40px;

            @include xs {
              width: 25px;
              height: 25px;
            }
          }
          &:hover {
            color: #000;
          }
        }
      }
    }

    .pollution-params {
      position: relative;

      .pollution-icon {
        cursor: pointer;
        height: 202px;
        margin: 10px;

        @include xxs {
          height: 130px
        }
      }

      .aqi-info {
        font-size: 1.1em;
        font-weight: 700;
        margin-bottom: 25px;
        color: #000;
      }

      p {
        font-weight: 600;
      }

      .hover-div {
        pointer-events: none;
        display: none;
        position: absolute;
        background: rgba(65, 65, 65, 0.7);
        color: #fff;
        padding: 25px;
        left: 50%;
        transform: translateX(-50%);
        top: 150px;
        width: 55%;
        border-radius: 20px;

        @include xs {
          width: 75%;
        }

        .pollution-params-container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            font-weight: normal;
          }

          .bold {
            font-weight: 700;
          }
        }
      }
    }

    .pollution-info-name {
      line-height: 140%;
      font-size: 1.1em;
    }

    .pollution-index-link {
      color: $grey-color;
      font-weight: 600;
    }
  }
  .home-main {
    padding: 0;
    align-items: center;
    text-align: left;

    @include xxs {
      width: 87vw;
    }

    .error {
      color: #000;
      background: rgb(233, 233, 0);
      padding: 10px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 3vh;
      border-radius: 15px;
    }

    .search {
      padding: 1.5vh;
      border: none;
      outline: none;
      border-radius: 10px;

      background: #e7e9ee;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      margin-bottom: 3vh;

      input {
        flex: 1;
        font-size: 1em;
        background: transparent;
        border: none;
        outline: none;
        color: #000;
        width: 100%;
      }
      ::placeholder {
        color: $grey-color;
      }
    }

    .weather-params {
      display: flex;
      flex-direction: column;
      gap: 3vh;
      width: 100%;

      .reveal-button {
        cursor: pointer;
        background-color: #e7e9ee;
        border: none;
        border-radius: 30px;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        color: $grey-color;

        p {
          margin-left: 2vw;
          font-size: 1.1em;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
        }
        .dropdown-icon {
          width: 60px;
          height: 60px;
          transition: 0.3s;
        }
        .rotate {
          transform: rotate(0.5turn);
        }
      }

      .title {
        font-weight: 700;
        font-size: 1.4em;
        margin-bottom: 50px;
        text-align: center;

        @include xs {
          margin-bottom: 20px;
        }
      }

      .current-temp {
        background-color: #e7e9ee;
        padding: 30px;
        width: 100%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include md {
          flex-direction: column;
          text-align: center;
        }

        div {
          flex: 1;
        }

        .city {
          color: #000;
          font-size: 2rem;
          font-weight: 600;
        }

        .temp {
          font-size: 3rem;
          font-weight: 700;
          color: #000;
          margin: 40px 0 0 30px;

          @include md {
            margin: 20px 0;
          }
          
          @include xs {
            font-size: 2rem;

          }
        }
        .weather-icon {
          width: 40%;

          @include md {
            width: 90%;
          }
        }
      }

      .forecast-weather {
        color: #000;
        border-radius: 30px;
        background: #e7e9ee;
        width: 63vw;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @include md {
          width: 89vw;
        }

        .splide {
          flex: 1;
          cursor: pointer;

          .splide-slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            .time-info {
              text-align: center;
              font-weight: 500;
              color: $grey-color;
              font-size: 1.1em;
            }

            .temp {
              font-weight: 700;
              font-size: 1.4em;
            }

            img {
              margin-top: 30px;
              width: 100%;
            }
          }
        }
      }

      .air-conditions {
        color: #000;
        border-radius: 30px;
        background: #e7e9ee;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;

        .details {
          flex: 1;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 50px;

          @include xs {
            grid-template-columns: 1fr;
            gap: 25px;
          }

          .prop-title {
            color: $grey-color;
            display: flex;
            align-items: center;
            gap: 10px;
            @include xs {
              gap: 5px;
            }

            svg {
              font-size: 1.7em;
              @include xs {
                font-size: 1.4em;
              }
            }
            span {
              font-size: 1.1em;
              font-weight: 500;
              @include xs {
                font-size: 0.8em;
              }
            }
          }
          .measurement {
            margin-top: 20px;
            margin-left: 40px;
            font-size: 30px;

            @include xs {
              margin-top: 10px;
              font-size: 25px;
              margin-left: 25px;
            }
          }
        }
      }
    }

    .forecast {
      background: #dadce1;
      border-radius: 30px;
      padding: 15px;
    }
  }
}
