.contact-text{
    border-radius: 30px;
    color: #fff;
    background: rgba(39, 109, 43, 0.5);
    padding: 20px;
    margin: 0 auto;
}

.contact-text-background{
    color: #fff;
    background: rgba(39, 109, 43, 0.5);
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    margin: 40px auto;
    width: 70%;
}

.contact-text-background p {
    margin-top: 20px;
}

.qr{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: fit-content;
}
.qrCode{
    min-width: 215px;
    min-height: 260px;
    max-width: 215px;
    max-height: 260px;
}
.socials a{
    color: inherit;
    text-decoration: inherit;
    margin-top: 10px;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.contact-container-qr-code{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding:20px;
    width: fit-content;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 10px;
}
.contact-container-qr-code > p {
    margin-top: 14px;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}
.instagram{
    background-image: linear-gradient(to top left, rgb(192, 1, 151), rgb(255, 185, 246));
}
.tiktok{
    background-image: linear-gradient(to bottom right,rgb(120, 96, 255), rgb(0, 0, 0));
}
.youtube{
    background-image: linear-gradient(to top left, rgb(192, 1, 1), rgb(255, 185, 185));
}
.facebook{
    background-image: linear-gradient(to top left, rgb(1, 132, 192), rgb(185, 235, 255));
}