.reveal-button{
    background-color: #e7e9ee;
    border-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
}
.reveal-button>p{
    width: 90%;
}
.reveal-button>div{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 10%;
    text-align: center;
    background-color: rgb(196, 196, 209);
}
.reveal-button p{
    font-size: large;
    font-weight: bold;
}
.aboutDropLess{
    height: 250px;
    overflow: hidden;
}
.dropdownAbout{
    background-color: white;
    border: transparent;
    border-radius: 30px;
    font-size: x-large;
    margin-top: 5px;
    font-weight: bold ;
    padding: 15px;
    z-index: 400;
    width: fit-content;
}
.contain div{
    display: block;
}
.noShow{
    display: none;
}