.main-map-container{
    width: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 25px;
    background-color: rgba(39, 109, 43, 0.5);
    margin-top: 35px;
}
.main-map-elem{
    aspect-ratio: 2.5/1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
}
@media screen and (max-width: 1150px) {
    .main-map-container{
        padding: 20px;
        aspect-ratio: 2/1;
    }
}

@media screen and (max-width: 550px) {
    .main-map-container{
        aspect-ratio: 1/1;
        padding: 10px
    }
}