@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Quicksand:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --text-color: #fff;
    --background: transparent;
}

::-webkit-scrollbar {
    display: none;
  }

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.margin {
    padding: 3vh 4vw 7vh 4vw;
    background-image:   linear-gradient(to bottom right,rgb(184, 255, 184), rgb(44, 124, 44)) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin2{
    padding: 5vh 2.5vw;
    background-image:   linear-gradient(to bottom right,rgb(184, 255, 184), rgb(44, 124, 44)) ;
}
.margin3{
    padding: 3vh 3vw 7vh 3vw;
    background-image:   linear-gradient(to bottom right,rgb(184, 255, 184), rgb(44, 124, 44)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.margin4{
    background-image:linear-gradient(to bottom right,rgb(92, 148, 92), rgb(44, 124, 44)) ;
    display: flex;
    height: 88vh;
    width: 100vw;
    padding: 25px;
    justify-content: center;
    align-items: center;
}
.app {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
    color: #000;
    z-index: 5;
}

.background-img {
    width: 100vw;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('/public/background.jpg') center center;
    display: flex;
    align-items: center;
}

.background-img h1:nth-child(1) {
    text-align: center;
    z-index:12;
    color: white;
    display: block;
    width: 100%;
}
.background-img h1:nth-child(2) {
    text-align: center;
    z-index:12;
    color: white;
    display: block;
    width: 100%;
}
.bg-img{
    width: 100vw;
    height: 12vh;
    background:#09a509;
    display: flex;
    align-items: center;
    justify-content: center;
}