nav.bg {
    --background: rgba(255, 255, 255, 0.9);
    --text-color: rgb(23, 179, 18);  
}
.langBtn{
    width: 5vh;
    height: 5vh;
    padding: 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.langimg{
    width: 100%;
    height: 100%;
}
nav {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    padding: 0 2vw;
    transition: height .3s ease;
    z-index: 1000000;
    background: var(--background);
    transition: .4s;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
}

nav ul a {
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: var(--text-color);
    font-size: 25px;
    position: relative;
}

nav ul .header-link::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, transparent, var(--text-color));
    transition: 0.3s;
}

nav ul .header-link:hover::after {
    width: 100%;
}

.full-logo {
    display: block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color:  var(--text-color);
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 600;
    flex: 1;
    z-index: 10;
  max-height: 9vh;
}

.full-logo p {
    font-size: 35px;
}

.logo {
    width: 8vh;
    height: 8vh;
    margin: 1vh 0;
}

.nav-toggle {
    display: none;
}
nav>ul>li{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

@media screen and (max-width: 1500px) {    
    nav ul a {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .full-logo  p {
        font-size: 30px;
    }
}



@media screen and (max-width: 1300px) {
    nav ul {
        border-top: 3px solid #fff;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        padding-top: 40px;
        right: 0;
        width: 50vw;
        transform: translateX(100vw);
        height: calc(100vh - 14vh);
        gap: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        justify-content: flex-start;
        align-items: center;
        transition: .4s ease-in-out;
    }  

    nav ul a {
        color: #fff;
    }

    nav ul.open {
        transform: translateX(0);
    }
    
    .nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    
    .nav-toggle > .bar {
        position: relative;
        width: 32px;
        height: 3px;
        border-radius: 2px;
        background: var(--text-color);
        transition: all 0.45s ease-in-out;
    }
    
    .nav-toggle > .bar::before,
    .nav-toggle > .bar::after {
        content: "";
        position: absolute;
        height: 3px;
        background: var(--text-color);
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }
    
    .nav-toggle > .bar::before {
        width: 32px;
        transform: translateY(-8px);
        right: 0;
    }
    
    .nav-toggle > .bar::after {
        width: 32px;
        transform: translateY(8px);
    }
    
    .nav-toggle.open > .bar {
          transform: translateX(-40px);
          background: transparent;
    }
    
    .nav-toggle.open > .bar::before {
          width: 32px;
          transform: rotate(45deg) translate(26px, -26px);
    }
    
    .nav-toggle.open > .bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
    }
}

@media screen and (max-width: 550px) {
    nav ul {
        width: 100vw;
    }  
    nav ul .header-link:hover::after {
        width: 0;
    }
    nav ul .header-link:hover {
        color: rgb(18, 179, 18);
    }
}   