.main>.noShowow{
    display: none;
}
.bold {
    font-weight: 700;
}
.PollutionIndexContainer{
    background: linear-gradient(#739a49,#2c7c2c);
    color: white;
}
h2{
    margin: 3vh 0;
}

.select-h2 {
    margin: 0 0 3vh 0;
}

#odd-p{
    margin-bottom: 3vh;
}
select{
    height: 3vh;
    width: fit-content;
    background: rgba(39,109,43,.5);
    border: 0; 
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 5px;
    outline: none;
}
.select{
    margin: 3.5vh auto;
    font-size: 2vh;
}
.PollutionText{
    margin: 0 auto;
    max-width: 90%;
}
.pollution-info-container{
    width: 100%;
    padding: 50px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.85);
    border-radius: 70px;
    margin: 3vh auto;
}

.pollution-info-container h3 {
    margin: 1.5vh 0;;
}

.selected-info{
    background: rgba(39,109,43, .9);
}
.pgood{
    background: #009c7b;
}
.pfine{
    background: #f5e155;
}
.pworse{
    background: #fd9b45;
}
.pbad{
    background: #d10035;
}
.pvbad{
    background: #a571e0;
}
.pebad{
    background: #890633;
}

@media screen and (max-width: 1000px)  {
    .pollution-info-container {
        border-radius: 50px;
        padding: 20px;
    }
}
