.sponsors{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4%;
}
.sContainer{
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sContainer>h1{
    padding-top: 24px;
}
.sponsors a{
    padding: 14px;
    flex: 1;
}

.sContainer img {
    width: 25vh;
}